# print()

In [1]:
age = 50
name = "Jirka"

print("My name is", name, "and I am", age)
print("My name is", name, "and I am", age, sep="|")

print("hello world", end=" | ")
print("I am", name)

My name is Jirka and I am 50
My name is|Jirka|and I am|50
hello world | I am Jirka

# help()

In [2]:
help(print)

def test_func(a, b):
	"""
	a: value 1
	b: value 2
	
	returns: int
	"""
	return a + b
	
help(test_func)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

Help on function test_func in module __main__:

test_func(a, b)
    a: value 1
    b: value 2

    returns: int

# range()

In [3]:
rng = range(10)
print(list(rng))

rng = range(2, 10)
print(list(rng))

rng = range(2, 10, 2)
print(list(rng))

rng = range(10, -10, -2)
print(list(rng))

# range is iterator object
print(rng)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]
range(10, -10, -2)

# map()

In [4]:
strings = ["my", "world", "apple", "pear"]

lengths = map(len, strings)
print(list(lengths))

lengths = map(lambda x: x + "s", strings)
print(list(lengths))

def add_s(string):
	return string + "s"
	
lengths = map(add_s, strings)
print(list(lengths))

[2, 5, 5, 4]
['mys', 'worlds', 'apples', 'pears']
['mys', 'worlds', 'apples', 'pears']

# filter()

In [5]:
def longer_than_4(string):
	return len(string) > 4
	
filtered = filter(longer_than_4, strings)
print(list(filtered))

filtered = filter(lambda x: len(x) > 4, strings)
print(list(filtered))

['world', 'apple']
['world', 'apple']

# sum()

In [6]:
numbers = {1, 4.5, 5, 23, 2}

print(sum(numbers))

print(sum(numbers, start=10))
print(sum(numbers, start=-10))

35.5
45.5
25.5

# sorted()

In [7]:
numbers = [4, 5, 2, 3, -1, 0, 9]

sorted_nums = sorted(numbers)
print(sorted_nums)

sorted_nums = sorted(numbers, reverse=True)
print(sorted_nums)

people = [
	{"name":"Alice", "age": 30},
	{"name":"Bob", "age": 25},
	{"name":"Charlie", "age": 35},
	{"name":"David", "age": 20}
	]

# nejde řadit dict
#sorted_people = sorted(people)
sorted_people = sorted(people, key=lambda person: person["age"])
print(sorted_people)

sorted_people = sorted(people, key=lambda person: person["name"], reverse=True)
print(sorted_people)

[-1, 0, 2, 3, 4, 5, 9]
[9, 5, 4, 3, 2, 0, -1]
[{'name': 'David', 'age': 20}, {'name': 'Bob', 'age': 25}, {'name': 'Alice', 'age': 30}, {'name': 'Charlie', 'age': 35}]
[{'name': 'David', 'age': 20}, {'name': 'Charlie', 'age': 35}, {'name': 'Bob', 'age': 25}, {'name': 'Alice', 'age': 30}]

# enumerate()

In [8]:
tasks = ["Write report", "Attend meeting", "Review code", "Submit timesheet"]

for index in range(len(tasks)):
	task = tasks[index]
	print(f"{index + 1}. {task}")

print(list(enumerate(tasks)))
	
for index, task in enumerate(tasks):
	print(f"{index + 1}. {task}")

1. Write report
2. Attend meeting
3. Review code
4. Submit timesheet
[(0, 'Write report'), (1, 'Attend meeting'), (2, 'Review code'), (3, 'Submit timesheet')]
1. Write report
2. Attend meeting
3. Review code
4. Submit timesheet

# zip()

In [9]:
names = ["Alice", "Bob", "Charlie", "David", "Tim"]
ages = [30, 25, 35, 20]

# without min we can get index out of bounds exception
for idx in range(min(len(names), len(ages))):
	name = names[idx]
	age = ages[idx]
	print(f"{name} is {age} years old")
	
combined = list(zip(names, ages))

print(combined)

for name, age in combined:
	print(f"{name} is {age} years old")
	
gender = ["female", "male", "male"]

combined = list(zip(names, ages, gender))

print(combined)

for name, age, gender in combined:
	print(f"{name} is {age} years old and is {gender}")

Alice is 30 years old
Bob is 25 years old
Charlie is 35 years old
David is 20 years old
[('Alice', 30), ('Bob', 25), ('Charlie', 35), ('David', 20)]
Alice is 30 years old
Bob is 25 years old
Charlie is 35 years old
David is 20 years old
[('Alice', 30, 'female'), ('Bob', 25, 'male'), ('Charlie', 35, 'male')]
Alice is 30 years old and is female
Bob is 25 years old and is male
Charlie is 35 years old and is male

# open()

In [6]:
# w, r, a
file = open("functions10_data/test.txt", mode="w")
file.close()

In [7]:
file = open("functions10_data/test.txt", mode="w")
file.write("Hello world!\nMy name is Jiří Černý.")
file.close()

In [13]:
# closes automatically
with open("functions10_data/test.txt", mode="w") as file:
    file.write("Hello world!\nMy name is Jiří Černý.")

In [14]:
with open("functions10_data/test.txt", mode="a") as file:
    file.write("\nHere is the end of the file.")

In [16]:
with open("functions10_data/test.txt", mode="r") as file:
    text = file.read()
    print(text)

Hello world!
My name is Jiří Černý.
Here is the end of the file.