In [1]:
import sqlite3
import traceback

In [2]:
con = sqlite3.connect(':memory:')

https://docs.python.org/3/library/sqlite3.html

In [3]:
# dřív jsem používal cursor, ale v dokumentaci už mají bez toho
#c = con.cursor()

In [4]:
# nelze dát do jednoho execute a oddělit ; !!!
with con:
    con.execute("CREATE TABLE IF NOT EXISTS aaa (id int, moje1 text, moje2 float)")
    con.execute("INSERT INTO aaa VALUES (1, 'AAA', 12.3)")

In [5]:
with con:
    res = con.execute("select * from sqlite_master where type = 'table'")
    data = res.fetchall()
data

[('table',
  'aaa',
  'aaa',
  2,
  'CREATE TABLE aaa (id int, moje1 text, moje2 float)')]

In [6]:
with con:
    res = con.execute("select * from aaa")
    data = res.fetchall()
data

[(1, 'AAA', 12.3)]

In [7]:
columns = ('id', 'value', 'type')

In [8]:
# zachytí chybu, vypíše
try:
    with conn:
        con.execute("drop table if exists Moje1")
except Exception as e:
    traceback.print_exc()

Traceback (most recent call last):
  File "C:\Users\cerny\AppData\Local\Temp\ipykernel_13476\2939568068.py", line 3, in <module>
    with conn:
NameError: name 'conn' is not defined. Did you mean: 'con'?

In [9]:
try:
    with con:
        con.execute("drop table if exists Moje1")
except Exception as e:
    traceback.print_exc()

In [10]:
with con:
    con.execute("create table Moje1 ({0[0]} integer primary key autoincrement, {0[1]} real, {0[2]} text)".format(columns))

In [11]:
with con:
    res = con.execute("select * from sqlite_master where type = 'table'")
    data = res.fetchall()
data

[('table',
  'aaa',
  'aaa',
  2,
  'CREATE TABLE aaa (id int, moje1 text, moje2 float)'),
 ('table',
  'Moje1',
  'Moje1',
  3,
  'CREATE TABLE Moje1 (id integer primary key autoincrement, value real, type text)'),
 ('table',
  'sqlite_sequence',
  'sqlite_sequence',
  4,
  'CREATE TABLE sqlite_sequence(name,seq)')]

In [12]:
# sloupec 0 je id autoincrement, vkládá se None
insert = []
insert.append({columns[0]:None, columns[1]:'Ahoj1', columns[2]:123})
insert.append({columns[0]:None, columns[1]:'Ahoj2', columns[2]:123.0})

In [13]:
with con:
    con.executemany("insert into  Moje1 values (:{0[0]},:{0[1]},:{0[2]})".format(columns), insert)

In [14]:
with con:
    res = con.execute("select * from Moje1")
    data = res.fetchall()
data

[(1, 'Ahoj1', '123'), (2, 'Ahoj2', '123.0')]

In [15]:
insert = [["a", 1],['B', 2]]

In [16]:
# sloupec 0 je id autoincrement, nemusí se vkládat

part1 = ''
part2 = ''
ss = range(1, len(columns))
for i, s in enumerate(ss):
    if i == 0:
        part1 += '{{0[{}]}}'.format(str(s))
        part2 += '?'.format(str(s))
    else:
        part1 += ',{{0[{}]}}'.format(str(s))
        part2 += ',?'.format(str(s))
        
sql = 'insert into  Moje1 ({}) values ({})'.format(part1, part2)
print(sql)

insert into  Moje1 ({0[1]},{0[2]}) values (?,?)

In [17]:
with con:
    con.executemany(sql.format(columns), insert)

In [18]:
with con:
    res = con.execute("select * from Moje1")
    data = res.fetchall()
data

[(1, 'Ahoj1', '123'), (2, 'Ahoj2', '123.0'), (3, 'a', '1'), (4, 'B', '2')]

In [19]:
insert = [[None, "a", 1],[None, 'B', 2]]

In [20]:
# sloupec 0 je id autoincrement, nemusí se vkládat nebo None

part1 = ''
part2 = ''
ss = range(0, len(columns))
for i, s in enumerate(ss):
    if i == 0:
        part1 += '{{0[{}]}}'.format(str(s))
        part2 += '?'.format(str(s))
    else:
        part1 += ',{{0[{}]}}'.format(str(s))
        part2 += ',?'.format(str(s))
        
sql = 'insert into  Moje1 ({}) values ({})'.format(part1, part2)
print(sql)

insert into  Moje1 ({0[0]},{0[1]},{0[2]}) values (?,?,?)

In [21]:
with con:
    con.executemany(sql.format(columns), insert)

In [22]:
with con:
    res = con.execute("select * from Moje1")
    data = res.fetchall()
data

[(1, 'Ahoj1', '123'),
 (2, 'Ahoj2', '123.0'),
 (3, 'a', '1'),
 (4, 'B', '2'),
 (5, 'a', '1'),
 (6, 'B', '2')]

In [23]:
insert = [[None, "a", None],[None, None, 2]]

In [24]:
# sloupec 0 je id autoincrement, nemusí se vkládat nebo None

part1 = ''
part2 = ''
ss = range(0, len(columns))
for i, s in enumerate(ss):
    if i == 0:
        part1 += '{{0[{}]}}'.format(str(s))
        part2 += '?'.format(str(s))
    else:
        part1 += ',{{0[{}]}}'.format(str(s))
        part2 += ',?'.format(str(s))
        
sql = 'insert into  Moje1 ({}) values ({})'.format(part1, part2)
print(sql)

insert into  Moje1 ({0[0]},{0[1]},{0[2]}) values (?,?,?)

In [25]:
with con:
    con.executemany(sql.format(columns), insert)

In [26]:
with con:
    res = con.execute("select * from Moje1")
    data = res.fetchall()
data

[(1, 'Ahoj1', '123'),
 (2, 'Ahoj2', '123.0'),
 (3, 'a', '1'),
 (4, 'B', '2'),
 (5, 'a', '1'),
 (6, 'B', '2'),
 (7, 'a', None),
 (8, None, '2')]

In [27]:
con

In [28]:
with con:
    res = con.execute("select * from Moje1")
    row = res.fetchone()
    while not isinstance(None, row.__class__):
        print(row)
        row = res.fetchone()

(1, 'Ahoj1', '123')
(2, 'Ahoj2', '123.0')
(3, 'a', '1')
(4, 'B', '2')
(5, 'a', '1')
(6, 'B', '2')
(7, 'a', None)
(8, None, '2')

In [29]:
con.row_factory = sqlite3.Row
with con:
    res = con.execute("select * from Moje1")
    row = res.fetchone()
    while not isinstance(None, row.__class__):
        print(row.keys())
        print([{key:row[key]} for key in row.keys()])
        row = res.fetchone()

['id', 'value', 'type']
[{'id': 1}, {'value': 'Ahoj1'}, {'type': '123'}]
['id', 'value', 'type']
[{'id': 2}, {'value': 'Ahoj2'}, {'type': '123.0'}]
['id', 'value', 'type']
[{'id': 3}, {'value': 'a'}, {'type': '1'}]
['id', 'value', 'type']
[{'id': 4}, {'value': 'B'}, {'type': '2'}]
['id', 'value', 'type']
[{'id': 5}, {'value': 'a'}, {'type': '1'}]
['id', 'value', 'type']
[{'id': 6}, {'value': 'B'}, {'type': '2'}]
['id', 'value', 'type']
[{'id': 7}, {'value': 'a'}, {'type': None}]
['id', 'value', 'type']
[{'id': 8}, {'value': None}, {'type': '2'}]

In [30]:
# tady se musí použít row[key], nebo custom row factory
con.row_factory = sqlite3.Row
with con:
    res = con.execute("select * from Moje1")
    row = res.fetchone()
    while not isinstance(None, row.__class__):
        print(row)
        row = res.fetchone()

<sqlite3.Row object at 0x000001D6C520BCD0>
<sqlite3.Row object at 0x000001D6C520A5C0>
<sqlite3.Row object at 0x000001D6C520BCD0>
<sqlite3.Row object at 0x000001D6C520A5C0>
<sqlite3.Row object at 0x000001D6C520BCD0>
<sqlite3.Row object at 0x000001D6C520A5C0>
<sqlite3.Row object at 0x000001D6C520BCD0>
<sqlite3.Row object at 0x000001D6C520A5C0>

# custom row factories

In [31]:
def dict_factory(cursor, row):
    fields = [column[0] for column in cursor.description]
    return {key: value for key, value in zip(fields, row)}

In [32]:
# funguje i pokud jsou v názvech mezery !!!
con.row_factory = dict_factory
with con:
    #for row in con.execute("SELECT 1 AS a, 2 AS b"):
    for row in con.execute("select * from Moje1"):
        print(row)

{'id': 1, 'value': 'Ahoj1', 'type': '123'}
{'id': 2, 'value': 'Ahoj2', 'type': '123.0'}
{'id': 3, 'value': 'a', 'type': '1'}
{'id': 4, 'value': 'B', 'type': '2'}
{'id': 5, 'value': 'a', 'type': '1'}
{'id': 6, 'value': 'B', 'type': '2'}
{'id': 7, 'value': 'a', 'type': None}
{'id': 8, 'value': None, 'type': '2'}

In [33]:
from collections import namedtuple

def namedtuple_factory(cursor, row):
    fields = [column[0] for column in cursor.description]
    cls = namedtuple("Row", fields)
    return cls._make(row)

In [34]:
# NEfunguje pokud jsou v názvech mezery !!!
con.row_factory = namedtuple_factory
with con:
    res = con.execute("select * from Moje1")
    row = res.fetchone()
    while not isinstance(None, row.__class__):
        print(row)
        row = res.fetchone()

Row(id=1, value='Ahoj1', type='123')
Row(id=2, value='Ahoj2', type='123.0')
Row(id=3, value='a', type='1')
Row(id=4, value='B', type='2')
Row(id=5, value='a', type='1')
Row(id=6, value='B', type='2')
Row(id=7, value='a', type=None)
Row(id=8, value=None, type='2')

In [35]:
con.row_factory = namedtuple_factory
data = []
with con:
    res = con.execute("select * from Moje1")
    row = res.fetchone()
    while not isinstance(None, row.__class__):
        data.append(row)
        row = res.fetchone()

In [36]:
data

[Row(id=1, value='Ahoj1', type='123'),
 Row(id=2, value='Ahoj2', type='123.0'),
 Row(id=3, value='a', type='1'),
 Row(id=4, value='B', type='2'),
 Row(id=5, value='a', type='1'),
 Row(id=6, value='B', type='2'),
 Row(id=7, value='a', type=None),
 Row(id=8, value=None, type='2')]

In [37]:
data[0].id, data[0].value, data[0].type

(1, 'Ahoj1', '123')

In [38]:
# res je cursor
res.__class__

sqlite3.Cursor

In [39]:
# cursor má popis
res.description

(('id', None, None, None, None, None, None),
 ('value', None, None, None, None, None, None),
 ('type', None, None, None, None, None, None))

In [40]:
# fields = 
[column[0] for column in res.description]

['id', 'value', 'type']

In [41]:
fields = [column[0] for column in res.description]
cls = namedtuple("Row", fields)

In [42]:
cls

__main__.Row

In [43]:
cls._make([1, 'AAA', 1.1])

Row(id=1, value='AAA', type=1.1)

In [44]:
cls(id = 1, value = 'AAA', type = 1.1)

Row(id=1, value='AAA', type=1.1)

In [45]:
kwargs = dict(id = 1, value = 'AAA', type = 1.1)
kwargs

{'id': 1, 'value': 'AAA', 'type': 1.1}

In [46]:
cls(**kwargs)

Row(id=1, value='AAA', type=1.1)

In [47]:
import pandas as pd

C:\Users\cerny\AppData\Local\Temp\ipykernel_13476\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [48]:
# row facory se správně převede na df
pd.DataFrame(data)

   id  value   type
0   1  Ahoj1    123
1   2  Ahoj2  123.0
2   3      a      1
3   4      B      2
4   5      a      1
5   6      B      2
6   7      a   None
7   8   None      2

In [49]:
df = pd.DataFrame(data)
df.isna()

      id  value   type
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False  False   True
7  False   True  False

In [50]:
df[df.isna().any(axis=1)]

   id value  type
6   7     a  None
7   8  None     2

In [51]:
con.row_factory = sqlite3.Row
data = []
with con:
    res = con.execute("select * from Moje1")
    row = res.fetchone()
    while not isinstance(None, row.__class__):
        data.append(row)
        row = res.fetchone()

In [52]:
# default facory se správně NEpřevede na df!!!
pd.DataFrame(data)

   0      1      2
0  1  Ahoj1    123
1  2  Ahoj2  123.0
2  3      a      1
3  4      B      2
4  5      a      1
5  6      B      2
6  7      a   None
7  8   None      2

In [53]:
# tady se musí použít row[key], nebo custom row factory
con.row_factory = sqlite3.Row
with con:
    res = con.execute("select * from Moje1")
    row = res.fetchone()
    while not isinstance(None, row.__class__):
        print(row)
        row = res.fetchone()

<sqlite3.Row object at 0x000001D6DD283F40>
<sqlite3.Row object at 0x000001D6DD283010>
<sqlite3.Row object at 0x000001D6DD283F40>
<sqlite3.Row object at 0x000001D6DD283010>
<sqlite3.Row object at 0x000001D6DD283F40>
<sqlite3.Row object at 0x000001D6DD283010>
<sqlite3.Row object at 0x000001D6DD283F40>
<sqlite3.Row object at 0x000001D6DD283010>

In [54]:
# tady se musí použít row[key], nebo custom row factory
con.row_factory = sqlite3.Row
with con:
    res = con.execute("select * from Moje1")
    row = res.fetchone()
    while not isinstance(None, row.__class__):
        print(row[0], row[1], row[2])
        row = res.fetchone()

1 Ahoj1 123
2 Ahoj2 123.0
3 a 1
4 B 2
5 a 1
6 B 2
7 a None
8 None 2

In [55]:
# tady se musí použít row[key], nebo custom row factory
con.row_factory = sqlite3.Row
with con:
    res = con.execute("select * from Moje1")
    row = res.fetchone()
    while not isinstance(None, row.__class__):
        print(row['id'], row['value'], row['type'])
        row = res.fetchone()

1 Ahoj1 123
2 Ahoj2 123.0
3 a 1
4 B 2
5 a 1
6 B 2
7 a None
8 None 2

In [56]:
# jen tady lze použít .column syntax
con.row_factory = namedtuple_factory
with con:
    res = con.execute("select * from Moje1")
    row = res.fetchone()
    while not isinstance(None, row.__class__):
        print(row.id, row.value, row.type)
        row = res.fetchone()

1 Ahoj1 123
2 Ahoj2 123.0
3 a 1
4 B 2
5 a 1
6 B 2
7 a None
8 None 2