In [1]:
import pandas as pd
import numpy as np

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_31590/2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [24]:
df = pd.DataFrame({'A':np.linspace(0,100,11)})
df['A'] = df['A'].astype(int)
df

      A
0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
10  100

In [25]:
for var in df.columns:
    #var = 'Col1'
    conditions = [(df[var] >= 0) & (df[var] < 10),
                  (df[var] >= 10) & (df[var] < 20),
                  (df[var] >= 20) & (df[var] < 30),
                  (df[var] >= 30) & (df[var] < 40),
                  (df[var] >= 40) & (df[var] < 50),
                  (df[var] >= 50) & (df[var] < 60),
                  (df[var] >= 60) & (df[var] < 70),
                  (df[var] >= 70) & (df[var] < 80),
                  (df[var] >= 80) & (df[var] < 90),
                  (df[var] >= 90) & (df[var] <= 100)]
    results = ['0-9 let','10-19 let','20-29 let','30-39 let','40-49 let',
               '50-59 let','60-69 let','70-79 let','80-89 let','90-100 let']
    df[var+'_bin'] = np.select(condlist=conditions, choicelist=results, default='ERROR')
df

      A       A_bin
0     0     0-9 let
1    10   10-19 let
2    20   20-29 let
3    30   30-39 let
4    40   40-49 let
5    50   50-59 let
6    60   60-69 let
7    70   70-79 let
8    80   80-89 let
9    90  90-100 let
10  100  90-100 let

In [26]:
df['A_cut'] = pd.cut(df['A'], 10, right = False)
df

      A       A_bin          A_cut
0     0     0-9 let    [0.0, 10.0)
1    10   10-19 let   [10.0, 20.0)
2    20   20-29 let   [20.0, 30.0)
3    30   30-39 let   [30.0, 40.0)
4    40   40-49 let   [40.0, 50.0)
5    50   50-59 let   [50.0, 60.0)
6    60   60-69 let   [60.0, 70.0)
7    70   70-79 let   [70.0, 80.0)
8    80   80-89 let   [80.0, 90.0)
9    90  90-100 let  [90.0, 100.1)
10  100  90-100 let  [90.0, 100.1)

In [28]:
hist, bin_edges = np.histogram(df['A'], 10)

In [29]:
hist

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 2])

In [30]:
bin_edges

array([  0.,  10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.])