In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame(np.random.rand(100).reshape(10,10), columns = 'a b c d e f g h i j'.split())

In [8]:
df

,a,b,c,d,e,f,g,h,i,j
0,0.564977,0.697107,0.308394,0.453619,0.445212,0.281027,0.606614,0.651480,0.435209,0.329182
1,0.330817,0.383100,0.088913,0.230131,0.081162,0.100004,0.060420,0.010427,0.370367,0.131041
2,0.491149,0.276647,0.943354,0.399253,0.856422,0.829253,0.891518,0.999814,0.983004,0.364356
3,0.217693,0.663954,0.023429,0.452617,0.923534,0.463170,0.073979,0.270822,0.912707,0.841163
4,0.529791,0.583311,0.883628,0.442248,0.091700,0.012308,0.464071,0.087103,0.281465,0.160142
5,0.558061,0.054423,0.597940,0.850589,0.802644,0.744790,0.614787,0.506125,0.128592,0.382222
6,0.426230,0.570550,0.733074,0.474273,0.769427,0.756307,0.234164,0.220276,0.732047,0.928278
7,0.615000,0.140147,0.521763,0.237344,0.470972,0.604334,0.358030,0.400442,0.256717,0.691501
8,0.931863,0.337200,0.569002,0.291158,0.724917,0.445418,0.422906,0.038156,0.687228,0.342947
9,0.881582,0.406385,0.875387,0.994520,0.979792,0.885242,0.545323,0.430775,0.794703,0.295719

In [11]:
df[['a', 'b'] + df.columns[-5:].to_list()]

          a         b         f         g         h         i         j
0  0.564977  0.697107  0.281027  0.606614  0.651480  0.435209  0.329182
1  0.330817  0.383100  0.100004  0.060420  0.010427  0.370367  0.131041
2  0.491149  0.276647  0.829253  0.891518  0.999814  0.983004  0.364356
3  0.217693  0.663954  0.463170  0.073979  0.270822  0.912707  0.841163
4  0.529791  0.583311  0.012308  0.464071  0.087103  0.281465  0.160142
5  0.558061  0.054423  0.744790  0.614787  0.506125  0.128592  0.382222
6  0.426230  0.570550  0.756307  0.234164  0.220276  0.732047  0.928278
7  0.615000  0.140147  0.604334  0.358030  0.400442  0.256717  0.691501
8  0.931863  0.337200  0.445418  0.422906  0.038156  0.687228  0.342947
9  0.881582  0.406385  0.885242  0.545323  0.430775  0.794703  0.295719

In [22]:
# po řádcích
for index in df.index:
    print(index)
    print(df.loc[index])

0
a    0.564977
b    0.697107
c    0.308394
d    0.453619
e    0.445212
f    0.281027
g    0.606614
h    0.651480
i    0.435209
j    0.329182
Name: 0, dtype: float64
1
a    0.330817
b    0.383100
c    0.088913
d    0.230131
e    0.081162
f    0.100004
g    0.060420
h    0.010427
i    0.370367
j    0.131041
Name: 1, dtype: float64
2
a    0.491149
b    0.276647
c    0.943354
d    0.399253
e    0.856422
f    0.829253
g    0.891518
h    0.999814
i    0.983004
j    0.364356
Name: 2, dtype: float64
3
a    0.217693
b    0.663954
c    0.023429
d    0.452617
e    0.923534
f    0.463170
g    0.073979
h    0.270822
i    0.912707
j    0.841163
Name: 3, dtype: float64
4
a    0.529791
b    0.583311
c    0.883628
d    0.442248
e    0.091700
f    0.012308
g    0.464071
h    0.087103
i    0.281465
j    0.160142
Name: 4, dtype: float64
5
a    0.558061
b    0.054423
c    0.597940
d    0.850589
e    0.802644
f    0.744790
g    0.614787
h    0.506125
i    0.128592
j    0.382222
Name: 5, dtype: float64
6
a    0.426230
b    0.570550
c    0.733074
d    0.474273
e    0.769427
f    0.756307
g    0.234164
h    0.220276
i    0.732047
j    0.928278
Name: 6, dtype: float64
7
a    0.615000
b    0.140147
c    0.521763
d    0.237344
e    0.470972
f    0.604334
g    0.358030
h    0.400442
i    0.256717
j    0.691501
Name: 7, dtype: float64
8
a    0.931863
b    0.337200
c    0.569002
d    0.291158
e    0.724917
f    0.445418
g    0.422906
h    0.038156
i    0.687228
j    0.342947
Name: 8, dtype: float64
9
a    0.881582
b    0.406385
c    0.875387
d    0.994520
e    0.979792
f    0.885242
g    0.545323
h    0.430775
i    0.794703
j    0.295719
Name: 9, dtype: float64

In [28]:
# po řádcích 2
for index in df.index:
    print(index)
    for column_value in df.loc[index].items():
        print(column_value)

0
('a', 0.564976538900881)
('b', 0.6971070986275766)
('c', 0.3083942781937651)
('d', 0.45361905098163635)
('e', 0.44521170142107525)
('f', 0.28102680439632666)
('g', 0.6066143033953748)
('h', 0.6514803944836112)
('i', 0.4352086939568317)
('j', 0.32918160126485196)
1
('a', 0.33081688341782245)
('b', 0.3831002363580053)
('c', 0.08891257415046827)
('d', 0.230130734800866)
('e', 0.08116210372682142)
('f', 0.10000429242445008)
('g', 0.06042034020034737)
('h', 0.010426991159937837)
('i', 0.37036745082755207)
('j', 0.13104130274592707)
2
('a', 0.4911491183590785)
('b', 0.2766466014293526)
('c', 0.9433542678331756)
('d', 0.39925256490920025)
('e', 0.8564220119378056)
('f', 0.8292525261616686)
('g', 0.8915178544240803)
('h', 0.9998141623809874)
('i', 0.9830039178918738)
('j', 0.3643563797617738)
3
('a', 0.21769346827198832)
('b', 0.6639542385110291)
('c', 0.02342900647916435)
('d', 0.4526171561882728)
('e', 0.9235341515686563)
('f', 0.46317007991528203)
('g', 0.07397929293715999)
('h', 0.2708224498820494)
('i', 0.9127066047745205)
('j', 0.8411629723532145)
4
('a', 0.5297913602555006)
('b', 0.5833109869441666)
('c', 0.8836280693248162)
('d', 0.44224837372557724)
('e', 0.09169963542908899)
('f', 0.01230761517895973)
('g', 0.464070885874718)
('h', 0.08710303858810708)
('i', 0.28146535339850043)
('j', 0.160142342527412)
5
('a', 0.558061188006068)
('b', 0.05442253526042873)
('c', 0.5979398920850598)
('d', 0.8505887756569865)
('e', 0.8026444781941802)
('f', 0.7447900369036765)
('g', 0.6147873359638585)
('h', 0.5061250922101781)
('i', 0.12859150899346028)
('j', 0.3822218088719086)
6
('a', 0.4262296442862501)
('b', 0.5705496434076229)
('c', 0.7330743374389068)
('d', 0.47427289507741344)
('e', 0.7694269232651559)
('f', 0.756306603290117)
('g', 0.23416411064345943)
('h', 0.2202757979897163)
('i', 0.7320472022781446)
('j', 0.928278142801064)
7
('a', 0.6149996174243448)
('b', 0.14014665523314862)
('c', 0.5217629576349098)
('d', 0.2373443501565462)
('e', 0.47097213625619194)
('f', 0.6043336086002108)
('g', 0.358030499557084)
('h', 0.4004419648761407)
('i', 0.2567168597361399)
('j', 0.6915011840643658)
8
('a', 0.9318633592926528)
('b', 0.33719961042558955)
('c', 0.5690024053357076)
('d', 0.29115791745486774)
('e', 0.7249173345710619)
('f', 0.4454180334489155)
('g', 0.42290605576348395)
('h', 0.03815570585608952)
('i', 0.687228199870224)
('j', 0.3429474198955925)
9
('a', 0.8815815807492616)
('b', 0.40638536600486674)
('c', 0.875386693516514)
('d', 0.9945196236150806)
('e', 0.9797918942423076)
('f', 0.8852420568252284)
('g', 0.5453226363649019)
('h', 0.43077544674477775)
('i', 0.7947029116357232)
('j', 0.2957188086333128)

In [30]:
# po sloupcích
for column, rows in df.items():
    print(column)
    print(rows)

a
0    0.564977
1    0.330817
2    0.491149
3    0.217693
4    0.529791
5    0.558061
6    0.426230
7    0.615000
8    0.931863
9    0.881582
Name: a, dtype: float64
b
0    0.697107
1    0.383100
2    0.276647
3    0.663954
4    0.583311
5    0.054423
6    0.570550
7    0.140147
8    0.337200
9    0.406385
Name: b, dtype: float64
c
0    0.308394
1    0.088913
2    0.943354
3    0.023429
4    0.883628
5    0.597940
6    0.733074
7    0.521763
8    0.569002
9    0.875387
Name: c, dtype: float64
d
0    0.453619
1    0.230131
2    0.399253
3    0.452617
4    0.442248
5    0.850589
6    0.474273
7    0.237344
8    0.291158
9    0.994520
Name: d, dtype: float64
e
0    0.445212
1    0.081162
2    0.856422
3    0.923534
4    0.091700
5    0.802644
6    0.769427
7    0.470972
8    0.724917
9    0.979792
Name: e, dtype: float64
f
0    0.281027
1    0.100004
2    0.829253
3    0.463170
4    0.012308
5    0.744790
6    0.756307
7    0.604334
8    0.445418
9    0.885242
Name: f, dtype: float64
g
0    0.606614
1    0.060420
2    0.891518
3    0.073979
4    0.464071
5    0.614787
6    0.234164
7    0.358030
8    0.422906
9    0.545323
Name: g, dtype: float64
h
0    0.651480
1    0.010427
2    0.999814
3    0.270822
4    0.087103
5    0.506125
6    0.220276
7    0.400442
8    0.038156
9    0.430775
Name: h, dtype: float64
i
0    0.435209
1    0.370367
2    0.983004
3    0.912707
4    0.281465
5    0.128592
6    0.732047
7    0.256717
8    0.687228
9    0.794703
Name: i, dtype: float64
j
0    0.329182
1    0.131041
2    0.364356
3    0.841163
4    0.160142
5    0.382222
6    0.928278
7    0.691501
8    0.342947
9    0.295719
Name: j, dtype: float64

In [31]:
# pos sloupcích 2
for column, rows in df.items():
    print(column)
    for index, row in rows.items():
        print(index, row)

a
0 0.564976538900881
1 0.33081688341782245
2 0.4911491183590785
3 0.21769346827198832
4 0.5297913602555006
5 0.558061188006068
6 0.4262296442862501
7 0.6149996174243448
8 0.9318633592926528
9 0.8815815807492616
b
0 0.6971070986275766
1 0.3831002363580053
2 0.2766466014293526
3 0.6639542385110291
4 0.5833109869441666
5 0.05442253526042873
6 0.5705496434076229
7 0.14014665523314862
8 0.33719961042558955
9 0.40638536600486674
c
0 0.3083942781937651
1 0.08891257415046827
2 0.9433542678331756
3 0.02342900647916435
4 0.8836280693248162
5 0.5979398920850598
6 0.7330743374389068
7 0.5217629576349098
8 0.5690024053357076
9 0.875386693516514
d
0 0.45361905098163635
1 0.230130734800866
2 0.39925256490920025
3 0.4526171561882728
4 0.44224837372557724
5 0.8505887756569865
6 0.47427289507741344
7 0.2373443501565462
8 0.29115791745486774
9 0.9945196236150806
e
0 0.44521170142107525
1 0.08116210372682142
2 0.8564220119378056
3 0.9235341515686563
4 0.09169963542908899
5 0.8026444781941802
6 0.7694269232651559
7 0.47097213625619194
8 0.7249173345710619
9 0.9797918942423076
f
0 0.28102680439632666
1 0.10000429242445008
2 0.8292525261616686
3 0.46317007991528203
4 0.01230761517895973
5 0.7447900369036765
6 0.756306603290117
7 0.6043336086002108
8 0.4454180334489155
9 0.8852420568252284
g
0 0.6066143033953748
1 0.06042034020034737
2 0.8915178544240803
3 0.07397929293715999
4 0.464070885874718
5 0.6147873359638585
6 0.23416411064345943
7 0.358030499557084
8 0.42290605576348395
9 0.5453226363649019
h
0 0.6514803944836112
1 0.010426991159937837
2 0.9998141623809874
3 0.2708224498820494
4 0.08710303858810708
5 0.5061250922101781
6 0.2202757979897163
7 0.4004419648761407
8 0.03815570585608952
9 0.43077544674477775
i
0 0.4352086939568317
1 0.37036745082755207
2 0.9830039178918738
3 0.9127066047745205
4 0.28146535339850043
5 0.12859150899346028
6 0.7320472022781446
7 0.2567168597361399
8 0.687228199870224
9 0.7947029116357232
j
0 0.32918160126485196
1 0.13104130274592707
2 0.3643563797617738
3 0.8411629723532145
4 0.160142342527412
5 0.3822218088719086
6 0.928278142801064
7 0.6915011840643658
8 0.3429474198955925
9 0.2957188086333128

In [37]:
df.items()

In [36]:
next(df.items())

('a',
 0    0.564977
 1    0.330817
 2    0.491149
 3    0.217693
 4    0.529791
 5    0.558061
 6    0.426230
 7    0.615000
 8    0.931863
 9    0.881582
 Name: a, dtype: float64)

In [38]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [39]:
next(df.index)

TypeError: 'RangeIndex' object is not an iterator

In [41]:
[i for i in df.index]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
df.items(axis = 1)

TypeError: DataFrame.items() got an unexpected keyword argument 'axis'